

/**************************************/
/*****         NAVBAR             *****/
/**************************************/

nav{
    display: flex;
    position: sticky;
    background-color: var(--navy);
    color: var(--white);
    font-size: 2rem;
    height: 5rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 2.5rem;
    color: var(--gold);
    border: solid var(--gold) .1rem;
    background-color: var(--navy);
    border-radius: 50%;
}

/**************************************/
/*****      MAIN SECTION          *****/
/**************************************/
.main{
    display: flex;
    overflow: hidden;
    background-color: var(--white);
    height: 35rem;
    width: 100%;
}
.img-container{
    height: 100%;
    width: 30vw;
}
.img-container img{
    height: 100%;
    width: auto;
}
.divider{
    width: 0;
    height: 0;
    /*transform: rotate(45deg);*/
    border-bottom: 35rem solid var(--navy);
    border-left: 35vw solid transparent;

}

.intro-container-bg{
    flex-grow: 1;
    background-color: var(--navy);
    display: flex;
    align-items: center;
}
.intro-container{
    display: flex;
    flex-direction: column;
    margin: 10rem 0 0 -10vw;
    font-size: 1.5rem;
    color: var(--white);
    height: 40rem;
    width: 40vw;
}
.intro-container h2{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    border-bottom: solid var(--white) .25rem;
    margin: 0 0 1rem 0;
}
.intro-container h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
}

/**************************************/
/*****        FOOTER              *****/
/**************************************/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122436;
    width: 100%;
    height: 15.5rem;
    font-size: 1.5rem;
    color: var(--white);
}
footer h2{
    margin: 0;
}
footer div{
    display: flex;
    margin: 0 1rem;
}