<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partials</title>
</head>
<body>
    <nav th:fragment="nav-bar">
        <a class="logo" th:href="@{home}">AL</a>
        <a class="about-me" th:href="@{aboutMe}">About Me</a>
        <a class="experience" th:href="@{experience}">Experience</a>
        <a class="projects" th:href="@{projects}">Projects</a>
        <a th:href="@{https://www.linkedin.com/in/aidenlluce/}">
            <img th:src="@{/img/linkedin.png}" alt="LinkedIn">
        </a>
        <a th:href="@{https://github.com/AidenLuce}">
            <img th:src="@{/img/GitHub-logo.png}" alt="LinkedIn">
        </a>
    </nav>
</body>
</html>