
main{
    margin-top: 5rem;
}


.header-section{
    width: fit-content;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    color: var(--white);
    font-size: 4rem;
    border-top: solid var(--gold) .5rem;
    border-bottom: solid var(--gold) .5rem;
    position: relative;
    z-index: 2;
}
.dynamic-bg{
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*opacity: 50%;*/
    /*z-index: -2;*/

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 50%;
    z-index: -3;
}
.dynamic-bg img{
    /*position: fixed;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*left: 0;*/
    /*top: 0;*/
    width: 150rem;
    height: 100%;
}



.vert-line{
    margin: auto;
    padding: 0;
    height: 150rem;
    width: 0.5rem;
    background-color: var(--gold);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.vert-line li{
    height: 2rem;
    width: 2rem;
    margin-left: -1rem ;
    background-image: linear-gradient(to bottom right, var(--cobalt), var(--gold));
    border: solid var(--gold) .25rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    border: solid var(--gold) 0.25rem;
    box-sizing: border-box;
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
    position: absolute;

}
/*.codeup-container:nth-child(odd){*/
/*    margin: 5rem;*/
/*}*/
/*.codeup-container:nth-child(even){*/
/*    margin: -10rem;*/
/*}*/
li .degree{
    width: 40vw;
    border: solid var(--gold) 0.25rem;
    z-index: 2;
    transition: 1s;
    box-sizing: border-box;
    position: absolute;
}
/*.name{*/
/*    position: absolute;*/
/*}*/
ul>li:nth-child(odd) .degree{
    /*margin-left: -15rem;*/
    right: 5rem;
}
ul>li:nth-child(even) .degree{
    /*margin-left: 10rem;*/
    left: 5rem
}
ul>li:nth-child(odd) .description-container{
    left: 5rem;
    /*margin-left: 10rem;*/
}
ul>li:nth-child(even) .description-container{
    /*margin-left: -15rem;*/
    right: 5rem;
}

.invisible{
    opacity: 0;
    transition:  1s;
}

.visible{
    opacity: 100;
    transition: 1s;
}
.uncover{
    margin-bottom: 40rem;
    opacity: 0;
    transition: 1s;
}
