.main{
    display: flex;
    overflow: hidden;
    background-color: var(--white);
    height: 45rem;
    width: 100%;
    margin-top: 5rem;
}
.img-container{
    height: 100%;
    width: 30vw;
}
.tag-img{
    position: absolute;
    height: 45rem;
    width: 80%;
    opacity: 80%;
}


.pfp {
    height: 100%;
    width: auto;
    transition: 0.3s ease;
    position: relative;
    z-index: 1;
}




.speech-bubble {
    position: absolute;
    opacity: 0;
    top: 13rem;
    left: 31rem;
    padding: 1em;
    width: 15em; height: 2em;
    border-radius: .25em;
    transform:scaleX(-1);
    background: var(--gold);
    font: 2em/4 Century Gothic, Verdana, sans-serif;
    text-align: center;
    transition: .3s ease-in-out;
    z-index: 2;
}
.speech-bubble:before, .speech-bubble:after {
    position: absolute;
    z-index: -1;
    content: '';
}
.speech-bubble:after {
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
    background: #f4fbfe;
}
.speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 3.5em #f4fbfe;
    border-bottom: solid .25em var(--gold);
    bottom: .25em; right: 1.25em;
    width: 0; height: 1em;
    transform: rotate(25deg) skewX(75deg);
}
@media screen and (max-width: 1050px){
    .speech-bubble{
        left: 0;
        height: 0;
        width:0;
        font-size: 0;
    }
}

p.bubble-text{
    transform: scaleX(-1);
    margin-top: -2rem;
}

.divider{
    width: 0;
    height: 0;
    border-bottom: 45rem solid var(--navy);
    border-left: 35vw solid transparent;
    z-index: 1;
}

.intro-container-bg{
    flex-grow: 1;
    background-color: var(--navy);
    display: flex;
    align-items: center;
    z-index: 1;
}
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 0 0 -10vw;
    font-size: 1.5rem;
    color: var(--white);
    height: 40rem;
    width: 40vw;
}
.intro-container h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    border-bottom: solid var(--gold) .25rem;
    margin: 0 0 1rem 0;
    padding-left: 1rem;
}
.intro-container h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
}

/**************************************/
/*****        FOOTER              *****/
/**************************************/
/*footer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #122436;*/
/*    border-top: solid var(--gold) .25rem;*/
/*    width: 100%;*/
/*    height: 15.5rem;*/
/*    font-size: 1.5rem;*/
/*    color: var(--white);*/
/*}*/
/*footer h2{*/
/*    margin: 0;*/
/*}*/
/*footer div{*/
/*    display: flex;*/
/*    margin: 0 1rem;*/
/*}*/