.main{
    display: flex;
    overflow: hidden;
    background-color: var(--white);
    height: 45rem;
    width: 100%;
    margin-top: 5rem;
}
.img-container{
    height: 100%;
    width: 30vw;
}
.img-container img{
    height: 100%;
    width: auto;
}
.divider{
    width: 0;
    height: 0;
    /*transform: rotate(45deg);*/
    border-bottom: 45rem solid var(--navy);
    border-left: 35vw solid transparent;
}

.intro-container-bg{
    flex-grow: 1;
    background-color: var(--navy);
    display: flex;
    align-items: center;
}
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 0 0 -10vw;
    font-size: 1.5rem;
    color: var(--white);
    height: 40rem;
    width: 40vw;
}
.intro-container h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    border-bottom: solid var(--gold) .25rem;
    margin: 0 0 1rem 0;
    padding-left: 1rem;
}
.intro-container h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
}

/**************************************/
/*****        FOOTER              *****/
/**************************************/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122436;
    border-top: solid var(--gold) .25rem;
    width: 100%;
    height: 15.5rem;
    font-size: 1.5rem;
    color: var(--white);
}
footer h2{
    margin: 0;
}
footer div{
    display: flex;
    margin: 0 1rem;
}