<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Experience</title>
<!--    <link rel="stylesheet" th:href="@{/js/partials/navbar.js}">-->
    <link rel="stylesheet" th:href="@{/css/global.css}">
<!--    <link rel="stylesheet" th:href="@{/css/partials/nav.css}">-->
    <link rel="stylesheet" th:href="@{/css/partials/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/experience.css}">


    <!--    <link rel="stylesheet" href="../static/css/nav.css">-->

</head>
<body>
<div class="page-wrapper">
    <nav th:replace="/partials/navbar:: navbar"></nav>
    <main>
        <h2>Education</h2>
        <ul class="vert-line">
            <li class="invisible">
                <img th:src="@{/img/codeup.jpeg}" alt="">
                <div class="description-container">
                    <h1 class="name">Codeup</h1>
                    <p>Certificate - Web Development  |  Aug 2022 - Jan 2023</p>
                    <p>The first accredited bootcamp in the state of Texas, Codeup is a fully-immersive, project-based, and intensive 20-week Full-Stack Java Career Accelerator that provides students with 670 hours of expert instruction in software development</p>
                </div>
            </li>
            <li class="invisible">
                <img th:src="@{/img/sac.jpeg}" alt="">
                <div class="description-container">
                    <h1 class="name">San Antonio College</h1>
                    <p>Associate of Arts (AA)  |  Aug 2018 - May 2022</p>
                    <p>I attended San Antonio College (SAC) as a part of an early-college program with Travis ECHS. At SAC, I studied topics such as Speech, Philosophy, Sociology, and Texas Government along with many other classes and recieved an Associates of Arts (AA)</p>
                </div>
            </li>
            <li class="invisible">
                <img th:src="@{/img/travis.jpeg}" alt="">
                <div class="description-container">
                    <h1 class="name">Travis ECHS</h1>
                    <p>High School Diploma  |  Aug 2018 - May 2022</p>
                    <p>Travis ECHS (Early College High School) is a school located in the San Antonio Independent School District that provides its students the necessary college classes to receive an Associates Degree by the time they graduate</p>
                </div>
            </li>
        </ul>

        <h2>Experience</h2>
        <ul class="vert-line">
            <li class="invisible">
                <img th:src="@{/img/simple-tag.png}" alt="">
                <div class="description-container">
                    <h1 class="name">Dominos</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem consequuntur deserunt doloremque dolores eveniet excepturi harum, ipsa magnam magni nemo nesciunt obcaecati, quae quasi quidem similique, soluta voluptatibus.</p>
                </div>
            </li>
            <li class="invisible">
                <img th:src="@{/img/simple-tag.png}" alt="">
                <div class="description-container">
                    <h1 class="name">Panthers Robotics Club</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem consequuntur deserunt doloremque dolores eveniet excepturi harum, ipsa magnam magni nemo nesciunt obcaecati, quae quasi quidem similique, soluta voluptatibus.</p>
                </div>
            </li>
            <li class="invisible">
                <img th:src="@{/img/simple-tag.png}" alt="">
                <div class="description-container">
                    <h1 class="name">Quest for Learning</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem consequuntur deserunt doloremque dolores eveniet excepturi harum, ipsa magnam magni nemo nesciunt obcaecati, quae quasi quidem similique, soluta voluptatibus.</p>
                </div>
            </li>
        </ul>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js"></script>
<script th:src="@{/js/partials/navbar.js}"></script>
<script th:src="@{/js/experience.js}"></script>

</body>
</html>