<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Experience</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/partials/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/experience.css}">
    <link rel="stylesheet" th:href="@{/css/experienceTablet.css}">
    <link rel="stylesheet" th:href="@{/css/experienceMobile.css}">
    <link rel="stylesheet" th:href="@{/css/partials/footer.css}">


</head>
<body>
<div class="page-wrapper">
    <nav th:replace="/partials/navbar:: navbar"></nav>
    <main>
<!--        <div class="codeup-bg">-->
<!--            <img th:src="@{/img/codeup.jpeg}" alt="">-->
<!--        </div>-->
        <h2 class="header-section">Education</h2>
        <ul class="vert-line">
            <li class="invisible">
                <div class="dynamic-bg">
                    <img th:src="@{/img/codeup.jpeg}" alt="">
                </div>
                <img class="degree codeup" th:src="@{/img/codeupCert.jpg}" alt="">
                <img class="degree codeup codeupCover" th:src="@{/img/codeupCover.jpg}" alt="">
                <img class="click" th:src="@{/img/click.gif}">
                <div class="description-container">
                    <a href="https://codeup.edu/"><h1 class="name">Codeup</h1></a>
                    <p class="info">Certificate - Web Development  |  Aug 2022 - Jan 2023</p>
                    <p class="description">The first accredited bootcamp in the state of Texas, Codeup is a fully-immersive, project-based, and intensive 20-week Full-Stack Java Career Accelerator that provides students with 670 hours of expert instruction in software development</p>
                </div>
            </li>
            <li class="invisible">
                <div class="dynamic-bg">
                    <img th:src="@{/img/sac.jpeg}" alt="">
                </div>
                <img class="degree sac" th:src="@{/img/sacDeg.jpg}" alt="">
                <img class="degree sac sacCover" th:src="@{/img/sacCover.jpg}" alt="">
                <div class="description-container">
                    <a href="https://www.alamo.edu/sac/"><h1 class="name">San Antonio College</h1></a>
                    <p class="info">Associate of Arts (AA)  |  Aug 2018 - May 2022</p>
                    <p class="description">I attended San Antonio College (SAC) as a part of an early-college program with Travis ECHS. At SAC, I studied topics such as Speech, Philosophy, Sociology, and Texas Government along with many other classes and recieved an Associates of Arts (AA)</p>
                </div>
            </li>
            <li class="invisible">
                <div class="dynamic-bg">
                    <img th:src="@{/img/TravisFacade23.jpeg}" alt="">
                </div>
                <img  class="degree travis" th:src="@{/img/travisDip.jpg}" alt="">
                <img class="degree travis travisCover" th:src="@{/img/travisCover.jpg}" alt="">
                <div class="description-container">
                    <a href="https://schools.saisd.net/page/022.homepage"><h1 class="name">Travis ECHS</h1></a>
                    <p class="info">High School Diploma  |  Aug 2018 - May 2022</p>
                    <p class="description">Travis ECHS (Early College High School) is a school located in the San Antonio Independent School District that provides its students the necessary college classes to receive an Associates Degree by the time they graduate</p>
                </div>
            </li>
        </ul>

        <h2 class="header-section sec2">Experience</h2>
        <ul class="vert-line ul2">
<!--            <li class="invisible">-->
<!--                <div class="dynamic-bg">-->
<!--                    <img th:src="@{/img/dominos.png}" alt="">-->
<!--                </div>-->
<!--                <img class="degree dominos" th:src="@{/img/dominosCover.jpeg}" alt="">-->
<!--                <img class="degree dominos dominosCover" th:src="@{/img/dominosLogo.jpeg}" alt="">-->
<!--                <div class="description-container">-->
<!--                    <h1 class="name">Dominos</h1>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur autem consequuntur deserunt doloremque dolores eveniet excepturi harum, ipsa magnam magni nemo nesciunt obcaecati, quae quasi quidem similique, soluta voluptatibus.</p>-->
<!--                </div>-->
<!--            </li>-->
            <li class="invisible">
                <div class="dynamic-bg">
                    <img th:src="@{/img/roboticsBg.jpg}" alt="">
                </div>
                <img class="degree robotics" th:src="@{/img/robotics.jpg}" alt="">
                <img class="degree robotics roboticsCover" th:src="@{/img/roboticsLogo.jpg}" alt="">
                <div class="description-container">
                    <h1 class="name">Panthers Robotics Club</h1>
                    <p class="description">Robotics Club was where my love for technology began. I found the amount of room for creativity and innovation fascinating.  During this time, I worked as the Treasurer, organizing fundraisers and raising money for competitions.</p>
                </div>
            </li>
            <li class="invisible">
                <div class="dynamic-bg">
                    <img th:src="@{/img/code.jpeg}" alt="">
                </div>
                <img class="degree learning" th:src="@{/img/react.png}" alt="">
                <img class="degree learning learningCover" th:src="@{/img/aws.png}" alt="">

                <div class="description-container">
                    <h1 class="name">Quest for Learning</h1>
                    <p class="description">Since my graduation from Codeup, I have expanded my horizons into new technologies such as AWS and React. I plan on continuing my learning into the far future and learning as much as I can from others.</p>
                </div>
            </li>
        </ul>
        <footer th:replace="/partials/footer :: footer"></footer>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js"></script>
<script th:src="@{/js/partials/navbar.js}"></script>
<script th:src="@{/js/experience.js}"></script>

</body>
</html>