<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="page-wrapper">
        <nav>
            <div class="logo">AL</div>
            <div>About Me</div>
            <div>Experience</div>
            <div>Projects</div>
            <div>{Linked In}</div>
            <div>{Github}</div>
        </nav>
        <div class="main">
            <div class="img-container">
                <img src="../img/pfp.png" alt="">
            </div>
            <div class="divider"></div>
            <div class="intro-container-bg">
                <div class="intro-container">
                    <h2>Aiden Luce</h2>
                    <h3>Full-Stack Software Developer</h3>
                    <p>I am an innovative and detail-oriented professional with experience in collaborative environments and full-stack web development, seeking a role where I can collaborate with talented and passionate individuals, stay motivated, and learn more about new technologies.</p>
                </div>
            </div>
        </div>
        <footer>
            <h2>Think I'd be a good fit?</h2>
            <p>Feel free to give me a call, text, or email!</p>
            <div>
                <div>+1(210)849-6996</div>
                <div>aiden.l.luce@gamil.com</div>
            </div>

        </footer>
    </div>
</body>
</html>