<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="page-wrapper">
        <nav>
            <div>{Logo}</div>
            <div>About Me</div>
            <div>Experience</div>
            <div>Projects</div>
            <div>{Linked In}</div>
            <div>{Github}</div>
        </nav>
        <div class="main">
            <div class="divider"></div>
        </div>
        <footer>
            <h2>Think I'd be a good fit?</h2>
            <p>Feel free to give me a call, text, or email!</p>
            <div>
                <div>+1(210)849-6996</div>
                <div>aiden.l.luce@gamil.com</div>
            </div>

        </footer>
    </div>
</body>
</html>