<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/home">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/homeDesktop.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/homeTablet.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/homeMobile.css}" type="text/css">
</head>
<body>
    <div class="page-wrapper">
        <nav th:fragment="nav-bar">
            <a class="logo" th:href="@{/home}">AL</a>
            <div class="about-me">About Me</div>
            <div class="experience">Experience</div>
            <div class="projects">Projects</div>
            <div class="linkedin">{Linked In}</div>
            <div class="github">{Github}</div>
        </nav>
        <div class="main">
            <div class="img-container">
                <img th:src="@{/img/pfp.png}" alt="">
            </div>
            <div class="divider"></div>
            <div class="intro-container-bg">
                <div class="intro-container">
                    <h2>Aiden Luce</h2>
                    <h3>Full-Stack Software Developer</h3>
                    <p>I am an innovative and detail-oriented professional with experience in collaborative environments and full-stack web development, seeking a role where I can collaborate with talented and passionate individuals, stay motivated, and learn more about new technologies.</p>
                </div>
            </div>
        </div>
        <footer>
            <h2>Think I'd be a good fit?</h2>
            <p>Feel free to give me a call, text, or email!</p>
            <div>
                <div>+1(210)849-6996</div>
                <div>aiden.l.luce@gmail.com</div>
            </div>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script th:src="@{/js/home.js}"></script>
</body>
</html>