<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/partials/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/partials/footer.css}">
    <link rel="stylesheet" th:href="@{/css/projects.css}">

</head>
<body>
<div class="page-wrapper">
    <nav th:replace="/partials/navbar:: navbar"></nav>
    <main>
        <h1 class="projects">Projects</h1>
        <div class="project-container">
            <header>
                <img th:src="@{/img/squadup-screenshot.png}" alt="" class="video left-video">
                <img th:src="@{/img/squadup-code-screenshot.png}" alt="" class="video right-video">
                <div class="filter">
                    <h1 class="jumbo squadup">Squadup</h1>
                </div>
            </header>
            <div class="descriptions">
                <p class="func-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
                <p class="code-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
            </div>
        </div>
        <div class="project-container">
            <header>
                <img th:src="@{/img/react-screenshot.png}" alt="" class="video left-video">
                <img th:src="@{/img/react-code-screenshot.png}" alt="" class="video right-video">
                <div class="filter">
                    <h1 class="jumbo reactSL">React Shopping list</h1>
                </div>
            </header>
            <div class="descriptions">
                <p class="func-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
                <p class="code-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
            </div>
        </div>
        <div class="project-container portfolio">
            <header>
                <img th:src="@{/img/port-screenshot.png}" alt="" class="video left-video">
                <img th:src="@{/img/port-code-screenshot.png}" alt="" class="video right-video">
                <div class="filter">
                    <h1 class="jumbo port">Portfolio</h1>
                </div>
            </header>
            <div class="descriptions">
                <p class="func-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
                <p class="code-desc desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at blanditiis culpa doloremque dolorum eos ex explicabo, molestias neque nobis odio pariatur quasi repellendus sapiente suscipit, vero vitae voluptates! Culpa!</p>
            </div>
        </div>
        <footer th:replace="/partials/footer :: footer"></footer>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script th:src="@{/js/partials/navbar.js}"></script>
<script th:src="@{/js/projects.js}"></script>

</body>
</html>